In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [4]:
s1 = Series(np.random.randn(10))
s1

0    1.498211
1   -0.789498
2   -0.154964
3   -0.909112
4   -1.267422
5    1.455239
6    1.673811
7   -0.088022
8   -1.640540
9    0.106137
dtype: float64

In [3]:
s1.values

array([-1.27402741, -0.54449165,  1.15498633,  0.66812844, -0.40365035,
       -1.32893458,  0.58700105,  0.14036672, -1.17490798, -0.07677016])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
s2 = s1.sort_values(ascending=False)
s2

6    1.673811
0    1.498211
5    1.455239
9    0.106137
7   -0.088022
2   -0.154964
1   -0.789498
3   -0.909112
4   -1.267422
8   -1.640540
dtype: float64

In [6]:
s3 = s2
s3.index = np.arange(len(s3))
s3

0    1.673811
1    1.498211
2    1.455239
3    0.106137
4   -0.088022
5   -0.154964
6   -0.789498
7   -0.909112
8   -1.267422
9   -1.640540
dtype: float64

In [7]:
s2.sort_index()

0    1.673811
1    1.498211
2    1.455239
3    0.106137
4   -0.088022
5   -0.154964
6   -0.789498
7   -0.909112
8   -1.267422
9   -1.640540
dtype: float64

# DataFrame的排序

In [8]:
df1 = DataFrame(np.random.randn(40).reshape(8,5),\
                columns=['A','B','C','D','E'])
df1

          A         B         C         D         E
0 -0.128719 -1.022379  0.083372 -0.056026 -0.845514
1  0.319171  0.028287  0.536058  1.400338 -0.906869
2 -0.166671  0.615700  0.023960  0.682290 -0.031399
3 -1.194785 -0.303032 -0.522234 -0.322942 -0.754814
4  0.741095 -0.821381 -0.361663  0.013911 -1.879231
5  0.174090  0.199085  0.181169  0.221252  0.379360
6  0.916209  0.309635  0.438348  0.576971  0.960201
7 -0.410149  0.002901 -0.404800  0.326608  1.281591

In [12]:
df2 = df1.sort_values('A')
df2

          A         B         C         D         E
3 -1.194785 -0.303032 -0.522234 -0.322942 -0.754814
7 -0.410149  0.002901 -0.404800  0.326608  1.281591
2 -0.166671  0.615700  0.023960  0.682290 -0.031399
0 -0.128719 -1.022379  0.083372 -0.056026 -0.845514
5  0.174090  0.199085  0.181169  0.221252  0.379360
1  0.319171  0.028287  0.536058  1.400338 -0.906869
4  0.741095 -0.821381 -0.361663  0.013911 -1.879231
6  0.916209  0.309635  0.438348  0.576971  0.960201

In [13]:
df2.sort_index()

          A         B         C         D         E
0 -0.128719 -1.022379  0.083372 -0.056026 -0.845514
1  0.319171  0.028287  0.536058  1.400338 -0.906869
2 -0.166671  0.615700  0.023960  0.682290 -0.031399
3 -1.194785 -0.303032 -0.522234 -0.322942 -0.754814
4  0.741095 -0.821381 -0.361663  0.013911 -1.879231
5  0.174090  0.199085  0.181169  0.221252  0.379360
6  0.916209  0.309635  0.438348  0.576971  0.960201
7 -0.410149  0.002901 -0.404800  0.326608  1.281591