In [21]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('../homework/demo_duplicate.csv',index_col=0)

In [4]:
#del df['Unnamed: 0']
df.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [ ]:
df.size

In [28]:
len(df)

3989

In [5]:
len(df['Seqno'].unique())

1000

In [9]:
df['Seqno'].duplicated().head()

0    False
1     True
2     True
3     True
4    False
Name: Seqno, dtype: bool

In [11]:
df['Seqno'].drop_duplicates().head()

0     0.0
4     1.0
8     2.0
12    3.0
16    4.0
Name: Seqno, dtype: float64

In [19]:
df.drop_duplicates(['Seqno'],keep='last').head()

     Price  Seqno Symbol        time
3   1623.0    0.0   APPL  1473411963
7   1649.0    1.0   APPL  1473411964
11  1642.0    2.0   APPL  1473411965
15  1636.0    3.0   APPL  1473411966
19  1669.0    4.0   APPL  1473411967