In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [14]:
df1 = DataFrame(np.arange(9).reshape(3,3),index=['BJ','SH','GZ'],columns=['A','B','C'])
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [16]:
df1.index

Index(['bj', 'sh', 'gz'], dtype='object')

In [20]:
df1.index = Series(['bj','sh','gz'])
print(df1.index)
df1.index = ['bj','sh','gz']
print(df1.index)
df1.index = df1.index.map(str.upper)
print(df1.index)

Index(['bj', 'sh', 'gz'], dtype='object')
Index(['bj', 'sh', 'gz'], dtype='object')
Index(['BJ', 'SH', 'GZ'], dtype='object')

In [26]:
print(df1.rename(index=str.lower,columns=str.lower))
df1

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [27]:
df1.rename(index={'BJ':'beijing'},columns={'A':'a'})

         a  B  C
beijing  0  1  2
SH       3  4  5
GZ       6  7  8

In [30]:
list1 = [1,2,3,4]

In [31]:
[str(x) for x in list1] # 列表解析比for循环快很多

['1', '2', '3', '4']

In [38]:
print(map(str, list1))
list(map(str, list1))

<map object at 0x000002D28F197320>

['1', '2', '3', '4']

In [39]:
def test_map(x):
    return x + '_ABC'

In [43]:
df1.index.map(test_map)

Index(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype='object')

In [44]:
df1.rename(index=test_map)

        A  B  C
BJ_ABC  0  1  2
SH_ABC  3  4  5
GZ_ABC  6  7  8