In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series Reindex

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
s1.reindex(index=['A','B','C','D','E'],fill_value='None')

A       1
B       2
C       3
D       4
E    None
dtype: object

In [14]:
s2 = Series(['A','B','C'],index=[1,5,10])

In [15]:
s2

1     A
5     B
10    C
dtype: object

In [18]:
s2.reindex(index=range(15))

0     NaN
1       A
2     NaN
3     NaN
4     NaN
5       B
6     NaN
7     NaN
8     NaN
9     NaN
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [22]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [33]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=['A','B','D','E','F'],columns=['c1','c2','c3','c4','c5'])

In [34]:
df1

         c1        c2        c3        c4        c5
A  0.564012  0.829138  0.411973  0.043047  0.965580
B  0.535048  0.504549  0.757723  0.875060  0.589885
D  0.973806  0.126368  0.619398  0.275168  0.752654
E  0.944108  0.433347  0.713515  0.937614  0.262576
F  0.733272  0.135131  0.001735  0.197023  0.172079

In [35]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.564012  0.829138  0.411973  0.043047  0.965580
B  0.535048  0.504549  0.757723  0.875060  0.589885
C       NaN       NaN       NaN       NaN       NaN
D  0.973806  0.126368  0.619398  0.275168  0.752654
E  0.944108  0.433347  0.713515  0.937614  0.262576
F  0.733272  0.135131  0.001735  0.197023  0.172079

In [36]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.564012  0.829138  0.411973  0.043047  0.965580 NaN
B  0.535048  0.504549  0.757723  0.875060  0.589885 NaN
D  0.973806  0.126368  0.619398  0.275168  0.752654 NaN
E  0.944108  0.433347  0.713515  0.937614  0.262576 NaN
F  0.733272  0.135131  0.001735  0.197023  0.172079 NaN

In [37]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.564012  0.829138  0.411973  0.043047  0.965580 NaN
B  0.535048  0.504549  0.757723  0.875060  0.589885 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.973806  0.126368  0.619398  0.275168  0.752654 NaN
E  0.944108  0.433347  0.713515  0.937614  0.262576 NaN
F  0.733272  0.135131  0.001735  0.197023  0.172079 NaN

In [40]:
s1 = Series(range(1,5),index=['A','B','C','D'])
s1

A    1
B    2
C    3
D    4
dtype: int64

In [41]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [44]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [47]:
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.535048  0.504549  0.757723  0.875060  0.589885
D  0.973806  0.126368  0.619398  0.275168  0.752654
E  0.944108  0.433347  0.713515  0.937614  0.262576
F  0.733272  0.135131  0.001735  0.197023  0.172079

In [48]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.829138  0.411973  0.043047  0.965580
B  0.504549  0.757723  0.875060  0.589885
D  0.126368  0.619398  0.275168  0.752654
E  0.433347  0.713515  0.937614  0.262576
F  0.135131  0.001735  0.197023  0.172079