In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [20]:
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [21]:
s1

1  a    0.794776
   b    0.794890
   c    1.122967
2  a    1.061332
   b   -0.221919
   c    0.902905
dtype: float64

In [22]:
s1['1']

a    0.794776
b    0.794890
c    1.122967
dtype: float64

In [23]:
s1[5]

0.9029052265351842

In [24]:
type(s1['1'])

pandas.core.series.Series

In [25]:
type(s1)

pandas.core.series.Series

In [26]:
s1['1']['c']

1.1229668483786364

In [27]:
s1[:,'a']

1    0.794776
2    1.061332
dtype: float64

In [38]:
df1 = s1.unstack()
df1

          a         b         c
1  0.794776  0.794890  1.122967
2  1.061332 -0.221919  0.902905

In [39]:
df2 = DataFrame([s1['1'],s1['2']])
df2

          a         b         c
0  0.794776  0.794890  1.122967
1  1.061332 -0.221919  0.902905

In [44]:
s2 = df1.T.unstack()
s2

1  a    0.794776
   b    0.794890
   c    1.122967
2  a    1.061332
   b   -0.221919
   c    0.902905
dtype: float64

In [45]:
s2

1  a    0.794776
   b    0.794890
   c    1.122967
2  a    1.061332
   b   -0.221919
   c    0.902905
dtype: float64

In [58]:
df = DataFrame(np.arange(16).reshape(4,4),\
                index=[['a','a','b','b'],[1,2,1,2]],\
                columns=[['BJ','BJ','SH','GD'],[8,9,8,8]])
            
df

     BJ      SH  GD
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [64]:
print(type(df['BJ']))
df['BJ']

<class 'pandas.core.frame.DataFrame'>

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [66]:
df['BJ'][8]['b'][2]

12