In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 
        'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
        'Population': [1190846,1303171035,207847528]}

# Series

In [12]:
s1 = pd.Series(data['Country'], index=['A', 'B', 'C'])

In [13]:
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [14]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [15]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

# DataFrame

In [21]:
df1 = pd.DataFrame(data)

In [22]:
df1

   Country    Capital  Population
0  Belgium   Brussels     1190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [24]:
cou = df1['Country']

In [25]:
type(cou)

pandas.core.series.Series

In [26]:
df1.iterrows()

In [41]:
for row in df1.iterrows():
    #print(row)
    #print(len(row))
    print(row[0],row[1])
    print(type(row),type(row[0]),type(row[1]))

0 Country        Belgium
Capital       Brussels
Population     1190846
Name: 0, dtype: object
<class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
1 Country            India
Capital        New Delhi
Population    1303171035
Name: 1, dtype: object
<class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>
2 Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object
<class 'tuple'> <class 'int'> <class 'pandas.core.series.Series'>

In [55]:
s1 = pd.Series(data['Country'])
s2 = pd.Series(data['Capital'])
s3 = pd.Series(data['Population'])

In [61]:
df_new = pd.DataFrame([s1,s2,s3],index = ['Country','Capital','Population'])
df_new

                   0           1          2
Country      Belgium       India     Brazil
Capital     Brussels   New Delhi   Brasilia
Population   1190846  1303171035  207847528

In [62]:
df_new = df_new.T
df_new

   Country    Capital  Population
0  Belgium   Brussels     1190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528