In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
score_list = np.random.randint(25, 100, size=20)
score_list

array([28, 57, 60, 78, 78, 62, 43, 44, 90, 78, 28, 53, 67, 81, 77, 55, 30,
       29, 84, 68])

In [24]:
bins = [0,59,69,79,100]

In [25]:
score_cut = pd.cut(score_list, bins)

In [26]:
pd.value_counts(score_cut)

(0, 59]      9
(69, 79]     4
(59, 69]     4
(79, 100]    3
dtype: int64

In [27]:
df = DataFrame()

In [28]:
df['score'] = score_list

In [29]:
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

In [30]:
df.head()

   score student
0     28     Cyx
1     57     G1g
2     60     9gg
3     78     RCM
4     78     wnF

In [37]:
df['Categories'] = pd.cut(df['score'], bins, labels=['Low','OK','Good','Great'])
df.head()

   score student Categories
0     28     Cyx        Low
1     57     G1g        Low
2     60     9gg         OK
3     78     RCM       Good
4     78     wnF       Good

In [36]:
pd.value_counts(df['Categories'])

Low      9
Good     4
OK       4
Great    3
Name: Categories, dtype: int64